body {
    font-family: "Comic Sans MS";
    overflow-x:hidden;
  
}

#uiNavBar {
    display: block;
}

#nav-tr {
    display: block;
}

.container {
    float: left;
    margin-left: 5%;
}

.nav-link {
    width: 120px;
}

.search {
    display: inline-block;
    margin-left: 8px;
}
    /* btn {
        max-height: 18px;
        max-width: 18px;
        margin-left: 2px;
        background: $topBarControlBackground;
        color: $topBarColor;
        line-height: 50%;
        font-size: 80%;
    } */
.wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    
}



.item {
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
}

#carosal-img {
    height: 250px;
    width:250px;
    overflow: hidden;
    position: relative;
}